<h1>Get Started Recycling...</h1>
<h2>Enter your product UPC for detailed recycling instructions:</h2>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form method="post" action="/queries">
  <div>
    <label>Barcode
      <input type="text" name="query[barcode]">
    </label>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
